<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key><!-- $Id$ -->
	<string>gnu.GNUstep</string>
	<key>ServiceDescription</key>
	<string>GNUstep ($Id$)</string>
	<key>Program</key>
	<string>/bin/sh</string>
	<key>ProgramArguments</key>
	<array>
		<string>sh</string>
		<string>-pc</string>
		<string>: ${GNUSTEP_MAKE_STRICT_V2_MODE:=yes} ${GNUSTEP_SH_EXPORT_ALL_VARIABLES:=yes}

launchctl setenv GNUSTEP_USER_CONFIG_FILE "${GNUSTEP_USER_CONFIG_FILE:=~/Library/Preferences/GNUstep.conf}" &amp;

[[ -d "${GNUSTEP_MAKEFILES:-}" ]] || unset GNUSTEP_MAKEFILES
[[ -d "${GNUSTEP_MAKEFILES:=/Library/GNUstep/Makefiles}" ]] || unset GNUSTEP_MAKEFILES
[[ -d "${GNUSTEP_MAKEFILES:=/usr/local/share/GNUstep/Makefiles}" ]] || unset GNUSTEP_MAKEFILES

source "${GNUSTEP_MAKEFILES}/GNUstep.sh" || source "${GNUSTEP_USER_CONFIG_FILE}" || exit -1

IFS=$'\n'
for tehEnv in GNUSTEP_MAKEFILES GNUSTEP_USER_LIBRARY GNUSTEP_USER_DEFAULTS_DIR GNUSTEP_USER_APPLICATION_SUPPORT # "${!GNUSTEP_SYSTEM_@}" "${!GNUSTEP_NETWORK_@}" "${!GNUSTEP_LOCAL_@}" "${!GNUSTEP_USER_@}"
do
	[[ -n "${!tehEnv}" ]] &amp;&amp; launchctl setenv "$tehEnv" "${!tehEnv}"
done
		</string>
	</array>
	<key>WatchPaths</key>
	<array>
		<string>/Library/GNUstep/GNUstep.conf</string>
		<string>/usr/local/share/GNUstep/GNUstep.conf</string>
		<string>~/Library/Preferences/GNUstep.conf</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
